nav{
    width: 150px;
}

nav ul{
    padding-left: 1px;
    padding-top: 20px;
    font-weight: bold;
    list-style: none;
}
nav ul li{
    text-align: center;
    background-color: skyblue;
}

nav ul li .menubar{
    color:white;
    display: block;
}

nav ul li .menubar:hover {
    text-decoration: none;
    color:red;
}

header{
    text-align: center;
    border-bottom: 1px gray solid;
}

#gamescreen{
    padding-top: 20px;
}